.btn.btn-primary {
  display: block;
  font-weight: bold;
  margin: 0 auto;
}
.btn.btn-primary:hover {
  box-shadow: 0 0 25px rgba(8, 8, 8, 0.2);
  background-color: rgb(66, 71, 203);
}
.btn.btn-primary:active {
  background-color: #97a9f9;
  transform: scale(0.95);
}

.error-message {
  background-color: rgb(248, 85, 85);
  color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
}
.white-blue-bg {
  /* background-color: #e0e0ff;  */
  min-height: 100vh;
  background-image: url("../assets/try4.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.custom-modal {
  max-width: 80%;
}

.custom-line {
  border: none;
  height: 2px;
  background-color: #000;
}

.custom-line-notes {
  border-top: 3px solid #000;
}

.custom-modal .modal-header button.close {
  background-color: red !important;
}

.navbar-nav .nav-link:hover {
  background-color: #333;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}

.table-container {
  max-height: 388px;
  overflow-y: auto;
  text-align: center;
  border-radius: 15px;
  background-color: #fff;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

.table-fixed thead {
  position: sticky;
  top: 0;
  background-color: #fff;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

tr,
table {
  box-sizing: content-box;
}

tr.hover-bg-gray:hover {
  background-color: #d0cfcf;
  border-radius: 20px !important;
}

/* Define a CSS class to center-align the table */
.centered-table {
  width: 100%; /* Set the table width to 100% to center-align */
  text-align: center; /* Center-align the text within the table */
}

/* Style the table header (th) cells */
.centered-table th {
  background-color: #f2f2f2; /* Add a background color for header cells */
  padding: 10px; /* Add some padding for header cells */
}

/* Style the table data (td) cells */
.centered-table td {
  padding: 10px; /* Add some padding for data cells */
}

.custom-margin {
  margin: -6; /* Remove default margin */
}

.green-button {
  height: 60px;
  display: block;
  font-weight: bold;
  margin: 0 auto;
  border-radius: 7px;
  color: white;
  background-color: green;
  border-color: green;
}

.green-button:hover {
  background-color: rgb(31, 169, 31);
  border-color: rgb(31, 169, 31);
}
